@charset "UTF-8";
body  {
	-webkit-box-shadow: 0px 0px #692503;
	box-shadow: 0px 0px #000000;
	background-color: #F4F4F4;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-align: justify;

}
section {
	background-color: #000000;
}
.principal nav {
	border-radius: 850;
	border: 850;
	font-weight: normal;
	font-variant: normal;
	font-style: normal;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: x-large;
	background-color: #000000;
	padding: 1;
	margin-top: 5px;
	margin-left: 8px;
	margin-bottom: 5;
	text-decoration: none;
	text-align: center;
}
body h1 font {
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-size: xx-large;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
}
img   
{
	image-orientation: center;
	padding-left: 200px;
	padding-right: 25px;
	margin-right: auto;
	margin-left: 200px;
	text-align: center;
	background: hsla(0,0%,100%,1.00);
	
}
body {
}

img h2 {
	padding-left: 150px;
	margin-left: 150px;
	margin-right: auto;
	padding-right: 25px;
}
head{
	text-align: center;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif
}
body {
}
body p {
}
body p {
}
body img {
	padding-left: 25px;
	padding-right: 25px;
	margin-left: 50px;
}
body {
}
nav strong a {
	font color: aliceblue;
	
}
nav strong a {
}
.principal section img {
	border-radius: 850;
	border: 850;
	font-weight: normal;
	font-variant: normal;
	font-style: normal;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: x-large;
	background-color: #000000;
	padding: 1;
	margin-top: 5px;
	margin-left: 8px;
	margin-bottom: 5;
	text-decoration: none;
	text-align: center;
}
}
.principal section img {
	width: 850px;
}
.principal section img {
	width: 980px;
}
div section img {
	width: 980px;
}
.principal div img {
	width: 980px;
}
}
.principal div img {
	width: 980px;
}
.principal div img {
}
.principal div img {
}
body div img {
	width: 850px;
}
body strong {
	color: hsla(0,0%,100%,1.00);


nav strong a {
}
nav strong a {
}
nav strong a {
}
nav strong a {
}
